html {
  background-color: #009ACD;
  font-family: calibri;
}

body {
  text-align: center;
}

#logo {
  width: 400px;
}

#menu ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
	padding: 2px 10px;
	display: inline-block;

	color: black;
	text-decoration: none;
	border-bottom:3px solid #EDEDED;
}

#menu ul li a:hover {
	background-color:#009ACD;
	color: white;
	border-bottom:3px solid white;
}

h1 {
  font-size: 30px;
  font-weight: 100;
  color: black;
}

input#logout {
  /*margin-top: 5px;
  margin-left: 1200px;*/
  border-radius: 14px;
  background-color: #009ACD;
  border: 3px solid #ffffff;
  font-size: 25px;
  font-weight: 300;
  color: white;
  font-family: chalkboard;
}

input#searchLocal {
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 10px;
  margin-right: 5px;
  margin-top: 10px;
  border-radius: 14px;
  font-size: 25px;
}

input#searchRestaurant {
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 10px;
  margin-left: 5px;
  border-radius: 14px;
  font-size: 25px;
}

input#searchBtn {
  margin-left: 15px;
  margin-bottom: 20px;
  border-radius: 14px;
  background-color: white;
  border: 3px solid #ffffff;
  font-size: 20px;
  font-weight: bold;
  color: #009ACD;
  font-family: chalkboard;
}
