html {
  background-color: #009ACD;
  font-family: chalkboard;
}

body {
  margin-top: 0px;
  text-align: center;
}

img {
  margin-top: 70px;
}

#username {
  margin-top: -320px;
}

#password {
  margin-top: 15px;
}

input {
  border: 1px solid black;
  border-radius: 14px;
  background-color: white;
  font-size: 25px;
  padding-left: 10px;
}

button#signUpBtn {
  margin-top: 30px;
  border-radius: 14px;
  background-color: #009ACD;
  border: 3px solid #ffffff;
  font-size: 30px;
  margin-right:5px;
  font-weight: 300;
  color: white;
  font-family: chalkboard;
}

button#loginBtn {
  border-radius: 14px;
  background-color: white;
  border: 3px solid #ffffff;
  font-size: 30px;
  margin-left: 5px;
  font-weight: 300;
  color: #009ACD;
  font-family: chalkboard;
}

#visitor a {
  color: white;
  font-size: 17px;
  padding-left: 75px;
}
