html {
  background-color: #009ACD;
  font-family: calibri;
}

body {
  text-align: center;
}

#logo {
  width: 400px;
}

h1 {
  margin-top: -2%;
  margin-bottom: 3%;
  color: white;
  font-size: 30px;
  font-weight: normal;
}

#owner {
  margin-right: 15%;
}

#reviwer {
  margin-left: 15%;
}
