html, body {
  height: auto;
  width: 60%;
	font-family: raleway;
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-position: center;
  padding: 0;
}

html {
  background-image: url("../images/background.png");
  display: table;
  margin: auto;
}

body {
  width:100%;
  height:100%;
  background-color: #8B3E2F;
  display: table-cell;
  text-align: center;
}

header {
  top: -10px;
  position: fixed;
  width: 60%;
  background-color: #8B3E2F;
  border-bottom: 1px solid white;
}

#menu {
  margin-left: 3%;
  margin-top: 2%;
}

#menu ul {
  display: inline;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #8B3E2F;
  border-bottom: 1px solid white;
}

#menu li {
  margin-right: 2%;
  margin-top: 2%;
}

li a#login {
  float:left;
  margin-top: 2%;
  margin-left: 1%;
}

#menu a{
  float: left;
}

#menu li a {
  display: block;
  padding: 8px;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

#menu li#logReg {
  float: right;
  background-color: gray;
}


#menu li a:hover {
    background-color: #CD5B45;
}

#bi li {
  margin-left: 25%;
  text-align: left;
  list-style-type: none;
  line-height: 180%;
}

#image {
  width: 20%;
  margin-left:15%;
  margin-right: 5%;
  float:left;
}

#restaurant {
  width:100%;
  margin-bottom: 7%;
}

#review {
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 10px;
  color: white;
}

#name {
  font-size: 30px;
  margin-top: 15%;
  color: white;
}

#newreview_text {
  width: 100%;
  height: 30px;
  font-size: 10px;
}

h1 {
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  margin-left: 15%;
  color: white;
}

.rating {
  font-size: 20px;
}

textarea {
    background-color: white;
    color: black;
    resize: none;
}

#reviews {
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
}

#oneReview {
  margin-top: 5%;
  background-color: #CD5B45;
  padding: 3%;
  border: 1px solid black;
}


.editBtn {
	
	width: 15%;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px black;
	border-radius: 3px;
	font-family: raleway;
	font-weight: 600;
	font-size: 20px;
	background-color: #9c9c9c;
}

.editBtn:hover {
	background-color: #CD5B45;
}

.editBtn a{
text-decoration: none;
color: #FFFFFF;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}

.btn {
	border: solid 1px black;
	border-radius: 3px;
	font-family: raleway;
	font-weight: 600;
	padding: 5px;
	margin: 5px;
	font-size: 20px;
	background-color: #9c9c9c;
}

.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}

.popup a {
	text-decoration: none;
}
 
.popup #submit {
	font-size: 24px;
}
 
 
 
.popup-inner {
    width:30%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
	
}

.popup-inner .inputField {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

.popup-inner fieldset{
	width: 75%;
	border: 0px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
 
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.35s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,1);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
}
