html, body {
  height: 100%;
  width: 60%;
	font-family: raleway;
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-position: center;
  padding: 0;
}

html {
  background-image: url("../images/background.png");
  display: table;
  margin: auto;
}

body {
  width:100%;
  height:100%;
  background-color: #8B3E2F;
  display: table-cell;
  text-align: center;
}

header {
  top: -10px;
  position: fixed;
  width: 60%;
  background-color: #8B3E2F;
  border-bottom: 1px solid white;
}

#menu {
  margin-left: 3%;
  margin-top: 2%;
}

#menu ul {
  display: inline;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #8B3E2F;
  border-bottom: 1px solid white;
}

#menu li {
  margin-right: 2%;
  margin-top: 2%;
}

li#visitor {
  float:left;
  margin-top: 3%;
  margin-left: 1%;
}

#menu a{
  float: left;
}

#menu li a {
  display: block;
  padding: 8px;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

#menu li#logReg {
  float: right;
  background-color: gray;
}


#menu li a:hover {
    background-color: #CD5B45;
}

h1 {
  margin-top: 15%;
}

.search-box{
        width: 300px;
        position: relative;
        display: inline-block;
        font-size: 14px;
}
.search-box input[type="text"]{
        height: 32px;
        padding: 5px 10px;
        border: 1px solid #CCCCCC;
        font-size: 14px;
}
.result{
        position: absolute;        
        z-index: 999;
        top: 100%;
        left: 0;
}
.search-box input[type="text"], .result{
    width: 100%;
    box-sizing: border-box;
}
    .result p{
        margin: 0;
        padding: 7px 10px;
        border: 1px solid #CCCCCC;
        border-top: none;
        cursor: pointer;
    }
    .result p:hover{
        background: #f2f2f2;
    }

