html {
  background-color: #009ACD;
  font-family: calibri;
}

body {
  text-align: center;
}

#logo {
  width: 400px;
}

h1 {
  font-size: 30px;
  font-weight: 100;
  color: black;
}

input#logReg {
  margin-top: 5px;
  margin-left: 1200px;
  border-radius: 10px;
  background-color: #009ACD;
  border: 3px solid #ffffff;
  font-size: 25px;
  font-weight: 300;
  color: white;
  font-family: chalkboard;
}

input#searchLocal {
  margin-right: 5px;
  margin-top: 10px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 25px;
}

input#searchRestaurant {
  margin-left: 5px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 25px;
}

input#searchBtn {
  margin-left: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: white;
  border: 3px solid #ffffff;
  font-size: 20px;
  font-weight: bold;
  color: #009ACD;
  font-family: chalkboard;
}
